<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Rutinas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rutinas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="rutinas.length > 0">
    <div *ngFor="let rutina of rutinas" class="rutina-card">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ rutina.nombre_rutina }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Objetivo:</strong> {{ rutina.objetivo }}</p>
          <p><strong>Calentamiento:</strong> {{ rutina.calentamiento }}</p>
          <p><strong>Estiramientos:</strong> {{ rutina.estiramientos }}</p>
          <p><strong>Frecuencia:</strong> {{ rutina.frecuencia }}</p>
          <p><strong>Descanso:</strong> {{ rutina.descanso }}</p>
          <p><strong>Progresión:</strong> {{ rutina.progresion }}</p>
          <p><strong>Consejos:</strong> {{ rutina.consejos }}</p>
          <ion-button color="danger" expand="full" (click)="deleteRutina(rutina.id)">
            Eliminar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div *ngIf="rutinas.length === 0">
    <p>No se encontraron rutinas para este usuario.</p>
  </div>
</ion-content>


