<ion-header [translucent]="true">
  <ion-toolbar> 
    <ion-title>nutriMove</ion-title>
    
    <ion-back-button defaultHref="home" slot="start"></ion-back-button>
  
    
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  
<ion-card>
  <ion-card-header>
      <ion-card-title>
        Nutrimove: ¡Tu compañero de fitness personalizado con Inteligencia Artificial!
      </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    ¡Presentamos Nutrimove, la innovadora aplicación móvil que revoluciona la forma en que te pones en forma! Nutrimove combina la potencia de la Inteligencia Artificial con un enfoque personalizado para crear rutinas de ejercicios y planes de nutrición adaptados a tus necesidades individuales.
    <br>
    <h2>
      <br>
      ¿Cansado de las rutinas de ejercicios genéricas y los planes nutricionales que no funcionan?
    </h2>
    <p>
      Nutrimove te conoce. Con su tecnología de IA avanzada, la aplicación recopila información sobre tu estilo de vida, objetivos, preferencias y estado físico actual para crear un plan único para ti.
    </p>
    <h2>
      <br>
      Aquí es cómo funciona:
    </h2>
    <ion-list>
      <ion-item>
        -Análisis de datos: Nutrimove utiliza tu información personal, incluyendo tus objetivos, historial de actividad, preferencias alimenticias y restricciones, para crear un perfil personalizado.
      </ion-item>
      <ion-item>
        -Rutinas de ejercicios inteligentes: La aplicación te ofrece rutinas de entrenamiento personalizadas que se adaptan a tu nivel de condición física y preferencias. Puedes elegir entre una variedad de ejercicios, incluyendo cardio, entrenamiento de fuerza, yoga y más.
      </ion-item>
      <ion-item>
        -Planes de nutrición personalizados: Nutrimove te ayuda a crear un plan de alimentación saludable y delicioso que se ajusta a tus necesidades calóricas y macros. La aplicación ofrece recetas fáciles de seguir y consejos de expertos en nutrición.
      </ion-item>
      <ion-item>
        -Seguimiento de progreso: Nutrimove te permite monitorear tu progreso y realizar ajustes en tu plan según sea necesario. Puedes ver estadísticas detalladas sobre tu actividad física, calorías quemadas, progreso de pérdida de peso y más.
      </ion-item>
    </ion-list>
  </ion-card-content>

</ion-card>


</ion-content>
