<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Datos Personales</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >
  
  <img src="../../src/assets/icon/img/WhatsApp Image 2024-11-04 at 11.24.28 PM.jpeg" class="background" alt="">


<ion-card>

  <ion-card-header>
    <ion-card-title>Formulario</ion-card-title>
  </ion-card-header>

<ion-list>
  <ion-item>
    <ion-input id="nombre" label="nombre" placeholder="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input id="peso" label="peso" placeholder="peso"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input id="estatura" label="Estatura" placeholder="Estatura"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input id="porGrasa" label="% de grasa" placeholder="% de grasa"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input id="edad" label="Edad" placeholder="Edad"></ion-input>
  </ion-item>
  <ion-item>
    <ion-select label="Somatotipo" >
      <ion-select-option value="ectomorfo">Ectomorfo</ion-select-option>
      <ion-select-option value="mesomorfo">Mesomorfo</ion-select-option>
      <ion-select-option value="endomorfo">Endomorfo</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-button expand="block">Guardar</ion-button>
  </ion-item>
</ion-list>
</ion-card>
</ion-content>
