<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Datos Personales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Formulario</ion-card-title>
    </ion-card-header>
    <ion-img src="../../assets/icon/img/nutrimove.webp" class="background"></ion-img>
    <div class="content">
    </div>
    <form (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="user.nombre" name="nombre" [readonly]="!editMode" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellido Paterno</ion-label>
        <ion-input [(ngModel)]="user.apellido_pat" name="apellido paterno" [readonly]="!editMode" required></ion-input>
      </ion-item><ion-item>
        <ion-label position="floating">Apellido Materno</ion-label>
        <ion-input [(ngModel)]="user.apellido_mat" name="apellido materno" [readonly]="!editMode" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Peso</ion-label>
        <ion-input [(ngModel)]="user.peso" name="peso" [readonly]="!editMode" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Estatura</ion-label>
        <ion-input [(ngModel)]="user.estatura" name="estatura" [readonly]="!editMode" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Edad</ion-label>
        <ion-input [(ngModel)]="user.edad" name="edad" [readonly]="!editMode" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Somatotipo</ion-label>
        <ion-select [(ngModel)]="user.mesotipo" name="somatotipo" [disabled]="!editMode">
          <ion-select-option value="ectomorfo">Ectomorfo</ion-select-option>
          <ion-select-option value="mesomorfo">Mesomorfo</ion-select-option>
          <ion-select-option value="endomorfo">Endomorfo</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="full" (click)="toggleEditMode()" *ngIf="!editMode">Editar</ion-button>
      <ion-button expand="full" type="submit" *ngIf="editMode">Guardar Cambios</ion-button>
    </form>
  </ion-card>
</ion-content>

 