
<ion-content>
  <ion-img src="../../assets/icon/img/nutrimove.webp" class="background"></ion-img>
  <div class="content">
  </div>


  <ion-card>
    <ion-card button [routerLink]="['/nutri-move']">
      <img alt="Silhouette of mountains" src="https://media.istockphoto.com/id/1391410249/es/foto/deportes-y-actividades-de-gimnasio.jpg?s=612x612&w=0&k=20&c=UVfqkA8dnim6qFRuSjLE6dQHFt7Tjo-AIkvnNVHNJUs=" />
      <ion-card-header>
        <ion-card-title>Nutrimove: ¡Tu compañero de fitness personalizado con Inteligencia Artificial!</ion-card-title>
        </ion-card-header>
    
      <ion-card-content>
        Nutrimove es una app de fitness que te ayuda a alcanzar tus objetivos de forma personalizada con planes de entrenamiento y nutrición creados por IA.
      </ion-card-content>
    </ion-card>
  </ion-card>


  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="play-circle"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="datos-personales">
        <ion-icon name="library"></ion-icon>
        Datos 
      </ion-tab-button>
      <ion-tab-button tab="chat">
        <ion-icon name="radio"></ion-icon>
        Chat
      </ion-tab-button>      
      <ion-tab-button tab="seguimiento">
        <ion-icon name="library"></ion-icon>
        seguimiento
      </ion-tab-button>
      <ion-tab-button tab="estadistica">
        <ion-icon name="search"></ion-icon>
        Estadisticas
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  

  
</ion-content>



